<!DOCTYPE html>
<html lang="{{ config.default_language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <!-- Add links to CSS files, etc. here -->
</head>
<body>
    <header>
        <!-- Add site header/navigation here -->
        <h1><a href="{{ config.base_url | safe }}">{{ config.title }}</a></h1>
    </header>
    <main>
        {% block content %}
        <!-- Content from extending templates goes here -->
        {% endblock content %}
    </main>
    <footer>
        <!-- Add site footer here -->
        <p>&copy; {{ now() | date(format="%Y") }} {{ config.title }}</p>
    </footer>
</body>
</html> 